@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

div, nav {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

/* THE SIDE BACKGROUND */
.side-bg {
  background: #2F80ED;
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

/* NAVBAR */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

nav.navbar.navbar-expand-md.bg-dark.navbar-dark {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
}

.bg-dark {
  background-color: #343a4000 !important;
}

/*  LANDING PAGE MAIN SECTION  */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding: 30px 15px 30px 70px;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  padding: 8px 18px 8px 18px !important;
  font-weight: 600;
}

li.active a {
  color: #fff;
}

/* CURRENT TIME AND LOCATION */
.geolocation-area {
  position: absolute !important;
  top: 45%;
  left: 7%;
}

.geolocation-area h2, .geolocation-area p {
  color: #fff;
}

.geolocation-area h2 {
  font-size: 72px;
  font-weight: bold;
}

.geolocation-area h2, .geolocation-area p {
  margin: 0px;
  padding-left: 0px;
}

.geolocation-area p {
  opacity: 0.6;
}

/* SEARCH FORM AREA */
.search-form {
  margin-top: 60px;
  margin-bottom: 50px;
  width: 98%;
  border-right: 0px;
}

input {
  width: 85%;
  margin: 0px !important;
  padding: 10px;
  border: 2px solid #2F80ED;
  margin-right: 2px;
}

button {
  width: 14.5%;
  padding: 10px;
  margin: 0px !important;
  border: 0px;
  color: #fff;
  background: #2F80ED;
  border: 2px solid #2F80ED;
  margin-left: 0px;
  padding-right: 0px;
}

/* POPULAR LOCATION AREA */
.popular-locations {
  padding-bottom: 60px;
}

.london {
  position: relative;
  padding: 0;
  height: 420px;
}

.london img {
  width: 100%;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
}

.sydney {
  position: relative;
  padding: 0px;
}

.sydney img {
  width: 100%;
  height: 240px;
}

.greece {
  position: relative;
  padding: 0px;
}

.greece img {
  width: 100%;
  height: 240px;
}

.delhi {
  position: relative;
  padding: 0px;
}

.delhi img {
  width: 100%;
  height: 165px;
}

.tokyo {
  position: relative;
  padding: 0px;
}

.tokyo img {
  width: 100%;
  height: 165px;
}

.sydney, .greece {
  margin-left: 15px;
}

.delhi, .tokyo {
  margin: 15px 0px 0px 15px;
}

.details h4, .details h2 {
  color: #fff;
  margin-bottom: 0px;
}

.details h4 {
  font-size: 18px;
  font-weight: normal
}

.details h2 {
  font-size: 38px;
  font-weight: bold;
}

/* .london .details {
  position: absolute;

  left: 5%;
}

.greece .details, .sydney .details {

  left: 5%;
}

.delhi .details, .tokyo .details {
  position: absolute;
  left: 5%;

} */
.details {
  position: absolute;
  bottom: 8%;
  left: 5%;
}

form#search-form input {
  width: 78%;
  border: 2px solid #eee;
  height: 80px;
  font-size: 22px;
}

form#search-form button {
  width: 21%;
  padding: 10px;
  height: 80px;
}

.nudge {
  width: 100%;
  position: absolute;
  bottom: 8%;
  text-align: center;
}

.nudge i {
  font-size: 3em;
}

.fa-arrow-circle-down:before {
  content: "\f0ab";
  color: #fff;
}

div#collapsibleNavbar {
  position: absolute;
  right: 0;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  color: #f3f0f0;
}

/* MEDIA QUERY */
@media only screen and (max-width: 736px) {
  div#mobile-menu {
    width: 40%;
    text-align: right;
    padding-right: 30px;
  }

  .popular-locations .col-sm-12 {
    height: 200px !important;
  }

  .popular-locations col-sm-12 {
    height: 200px !important;
  }

  .popular-locations img {
    height: 200px;
  }

  .col-sm-12 .details {
    top: 40% !important;
  }

  .popular-locations .col-md-7, .popular-locations .col-md-4 {
    margin: 0;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .banner {
    display: none;
  }

  .hero {
    height: 50vh;
  }

  .geolocation-area {
    position: absolute !important;
    top: 20%;
  }

  .popular-locations .col-sm-12 {
    height: 150px !important;
  }

  .popular-locations col-sm-12 {
    height: 150px !important;
  }

  .popular-locations img {
    height: 150px;
  }

  .col-sm-12 .details {
    top: 40% !important;
  }

  .popular-locations .col-md-7, .popular-locations .col-md-4 {
    margin: 0;
    margin-bottom: 20px;
  }

  .navbar {
    padding: 10px 15px 30px 10px;
  }

  div#logo {
    width: 40%;
  }

  li.nav-item {
    width: 200px;
  }

  nav ul li a {
    padding: 4px 18px !important;
  }

  form#search-form input {
    font-size: 18px;
  }

  .geolocation-area h2 {
    font-size: 48px;
  }

  .nudge i {
    display: none;
  }
}